# 作業系統相關
.DS_Store                # macOS
Thumbs.db                # Windows
desktop.ini              # Windows
.vscode/                 # Visual Studio Code 設定檔

# IDE 設定檔 (如 JetBrains IDEs)
.idea/
*.iml

# 日誌檔案
*.log
# 暫存檔案
*.tmp
*.bk
# 編譯檔案
*.exe

# 數據檔案
#*.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
# Virtual Environment
venv/
env/
*.env
.venv/

# 專題設定 & 圖片檔案
independent_study/model/*.pt
independent_study/static/results
independent_study/static/uploads
